<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
    <%- include('navbar') %>
    <div class="container w-75 m-5">
        <h5>Company Blog</h5>
    </div>
    <div class="row w-75 mx-auto shadow-lg p-3 mb-5 bg-white rounded">
            <div class="col-md-6">
                <div class="bg bg-primary rounded w-25 text-center text-light">New</div>
                <h1 class="">Article heading goes here</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam deserunt quo recusandae. Magnam saepe tempore ratione officia hic reiciendis repudiandae praesentium est, rem fugit autem, unde, voluptates maiores at temporibus?</p>
                <a href="#" class="link-primary">Read more -></a>
            </div>
            <div class="col-md-6">
                <img src="http://via.placeholder.com/600x400.png" class="card-img-top" alt="...">
            </div>
    </div>
    <div class="row bg bg-light my-5 w-100">
        <h5 class="m-5"><strong>New</strong></h5>
        <div class="col-md-6 m-5">
            <div>
                <p>May 12, 2022</p>
                <a class="link-dark" href=""><h1>Start Bootstrap releases Bootstrap 5 updates for templates and themes </h1> </a>
            </div>
            <div>
                <p>May 5, 2022</p>
                <a class="link-dark" href=""><h1>Bootstrap 5 has officially landed </h1> </a>
            </div>
            <div>
                <p>Apr 21, 2022</p>
                <a class="link-dark" href=""><h1>This is another news article headline, but this one is a little bit longer</h1> </a>
            </div>
            <div class="d-flex justify-content-end mt-5">
                <a href="">More news -></a>
            </div>
        </div>
        <div class="col-md-4 m-5 d-flex justify-content-end">
            <div class="bg bg-white text-center p-5">
                <h5><strong>Contact</strong></h5>
                <p class="text-secondary">For press inquiries, email us at</p>
                <a href="">press@domain.com</a>
                <h5><strong>Follow us</strong></h5>
                <p>Redes sociales</p>
            </div>
        </div>
    </div>
    <div class="m-0 vh-100 row justify-content-center align-items-center">
            <div class="col-auto p-5 text-center">
                <%- include('card') %>
            </div>
            <div class="col-auto p-5 text-center">
                <%- include('card') %>
            </div>
            <div class="col-auto p-5 text-center">
                <%- include('card') %>
            </div>
    </div>
    <%- include('footer') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>